body{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(245, 242, 250);
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;

}
.container{
    color: rgb(245, 242, 250);
}

